* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.outer {
    width: 100%;
    height: auto;
    line-height: 0;
    border-left: 1px solid black;
}

.box {
    width: 33%;
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.box:nth-child(-n+3) {
    border-top: 1px solid black;
}

.clearboth {
    clear: both;
}

@media (min-width: 600px) {

    .box {
        width: 25%
    }

    .box:nth-child(-n+4) {
        border-top: 1px solid black;
    }

}